/* esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid #d63031;
    cursor: pointer;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
}
.ex-1-square::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #d63031;
    transform: translateX(50%);
    bottom: -110%;
}
.ex-1-square::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #d63031;
    transform: translateX(-50%);
    top: -110%;
}
.ex-1-square:hover::before{
    animation: aaa 0.7s 1;
    bottom: 0%;
}
.ex-1-square:hover::after{
    animation: bbb 0.7s 1;
    top: 0%;
}

@keyframes aaa {
    0%{
      bottom: -80%;
      opacity: 0.05;
    }50%{
      bottom: 110%;
      opacity: 0.6;
    }100%{
      bottom: 0%;
      opacity: 1;
    }
}
@keyframes bbb {
    0%{
      top: -80%;
      opacity: 0.05;
    }50%{
      top: 110%;
      opacity: 0.6;
    }100%{
      top: 0%;
      opacity: 1;
    }
}
/* fine esercizio 1 */

/* esercizio 2 */
.mss--row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn{
  width: 100px;
  height: 35px;
  background: #0984e3;
  margin-bottom: 10px;
}
.arrow_l{
  padding-right: 10px;
  height: 35px;
  animation: btn 1s infinite;
  line-height: 25px;
  font-weight: 700;
}
.arrow_r{
  padding-left: 10px;
  height: 35px;
  animation: btn 1s infinite;
  line-height: 25px;
  font-weight: 700;
}
@keyframes btn {
  20%{
    transform: scale(100%);
  }
  40%{
    transform: scale(150%);
  }
  60%{
    transform: scale(100%);
  }
  80%{
    transform: scale(150%);
  }
  20%{
    transform: scale(100%);
  }
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: #d63031;
    cursor: pointer;
    position: relative;
}
.ops{
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  font-weight: 700;
  color: #2d343600;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 9999;
}
#lg:checked ~ .ex-2-square{
  animation: two 5s 1;
  margin: 0 auto;
  width: 1100px;
}
#lg:checked ~ .ops{
  animation: ops 3s 1;
}
input{
  display: none;
  z-index: -9999;
}
@keyframes two {
  0%{
  margin: 0 auto;
  }
  20%{
    margin: 0 auto;
    width: 250px;
  }
  40%{
    margin: 0 auto;
    width: 1250px;
  }
  60%{
    margin: 0 auto;
    width: 1000px;
  }
  80%{
    margin: 0 auto;
    width: 1100px;
  }
}
@keyframes ops {
  0%{
    color: #2d343600;
  }
  20%{
    color: #2d343600;
  }
  40%{
    color: #2d343600;
  }
  60%{
    color: #2d343600;
  }
  80%{
    color: #2d3436;
  }
}
/*fine esercizio 2 */

/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}
.ex-3-square:hover{
  border-radius: 100px;
}
.ex-3-square::before {
    content: "";
    width: 100px;
    height: 100px;
    background: #d63031;
    cursor: pointer;
    position: absolute;
    transition: 0.4s;
    right: 100%;
}
.ex-3-square::after {
    content: "";
    width: 100px;
    height: 100px;
    background: #d63031;
    cursor: pointer;
    position: absolute;
    transition: 0.4s;
    left: 100%;
}
.ex-3-square:hover::before{
  right: 50%;
}
.ex-3-square:hover::after{
  left: 50%;
 }
/* fine esercizio 3 */

/* esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    cursor: pointer;
    transition: 0.4s;
}
.ex-4-square:hover {
    opacity: 0;
    transform: scale(500%);
}
/* fine esercizio 4 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
