/* esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid #d63031;
    cursor: pointer;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
}
.ex-1-square::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #d63031;
    transform: translateX(50%);
    bottom: -110%;
}
.ex-1-square::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #d63031;
    transform: translateX(-50%);
    top: -110%;
}
.ex-1-square:hover::before{
    animation: aaa 0.7s 1;
    bottom: 0%;
}
.ex-1-square:hover::after{
    animation: bbb 0.7s 1;
    top: 0%;
}

@keyframes aaa {
    0%{
      bottom: -80%;
      opacity: 0.05;
    }50%{
      bottom: 110%;
      opacity: 0.6;
    }100%{
      bottom: 0%;
      opacity: 1;
    }
}
@keyframes bbb {
    0%{
      top: -80%;
      opacity: 0.05;
    }50%{
      top: 110%;
      opacity: 0.6;
    }100%{
      top: 0%;
      opacity: 1;
    }
}
/* fine esercizio 1 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
